* {
    font-size: 16px; 
}

window#waybar {
    background: rgba(0,0,0, 0.32);
    color: #c6d0f5;
}

.module {
    margin: 4px;
}

.modules-left {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 0px 8px 8px 0px;
}

.modules-center {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
}

.modules-right {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 8px 0px 0px 8px;
}

#workspaces button {
    color: #c6d0f5;
}

#network {
    padding-right: 8px;
}

#clock {
    font-weight: 600;

}

#battery {
    padding-right: 8px;
}
